.tile-board {
    background-color: #ccc;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    counter-reset: tile-number;
}
.tile {
    display: block;
    list-style-type: none;
    background-color: #999;
    box-shadow: 0 0 3px -1px #333 inset, 0 8px 8px -4px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 2px;
    transition: left .3s, top .3s;
}
.tile.move-hint {
    box-shadow: rgb(0, 255, 0) 0px 0px 10px, rgb(0, 255, 0) 0px 0px 10px inset !important;
    z-index: 999 !important;
}
@keyframes ants {
    to {
        background-position: 100% 100%
    }
}
.tile.slot-hint {
    border: 1px solid transparent;
    background: linear-gradient(#ccc, #ccc) padding-box, repeating-linear-gradient(-45deg, #333 0, #333 25%, transparent 0, transparent 50%) 0 / .6em .6em !important;
    animation: ants 12s linear infinite;
}
.tile-board.complete .tile:last-of-type {
    z-index: 999 !important;
}
.tile-board:not(.complete) .tile:last-of-type {
    box-shadow: none;
}
.tile-board:not(.complete) .tile:not(.slot-hint):last-of-type {
    background: transparent !important;
}
.tile:before {
    display: none;
    counter-increment: tile-number;
    content: counter(tile-number);
    padding-left: 10px;
    padding-top: 10px;
    color: #ddd;
    text-shadow: 0 1px 1px #000;
}
.winning-screen {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}
.winning-screen-container {
    display: table-cell;
    vertical-align: middle;
}
.winning-screen-container h1 {
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 5px #000;
}
