.tile {
  display: block;
  list-style-type: none;
  background-color: #999;
  box-shadow: 0 -1px 1px -1px #333 inset, 0 0 3px -1px #333 inset,
    0 1px 1px -1px #fff inset, 0 -1px 1px -1px #fff inset,
    0 8px 8px -4px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 2px;
  transition: left 0.3s, top 0.3s;
}
.tile.move-hint {
  box-shadow: rgb(0, 255, 0) 0px 0px 10px, rgb(0, 255, 0) 0px 0px 10px inset !important;
  z-index: 999 !important;
}
.tile.slot-hint {
  border: 1px solid transparent;
  background: linear-gradient(#ccc, #ccc) padding-box,
    repeating-linear-gradient(
        -45deg,
        #333 0,
        #333 25%,
        transparent 0,
        transparent 50%
      )
      0 / 0.6em 0.6em !important;
  animation: ants 12s linear infinite;
}
@keyframes ants {
  to {
    background-position: 100% 100%;
  }
}
.tile-board.complete .tile:last-of-type {
  z-index: 999 !important;
}
.tile-board:not(.complete) .tile:last-of-type {
  box-shadow: none;
}
.tile-board:not(.complete) .tile:not(.slot-hint):last-of-type {
  background: transparent !important;
}
.tile:before {
  display: none;
  counter-increment: tile-number;
  content: counter(tile-number);
  padding-left: 10px;
  padding-top: 10px;
  color: #ddd;
  text-shadow: 0 1px 1px #000;
}
