DATABASE_URL="postgresql://sliding_tiles:sliding_tiles@localhost:5432/sliding_tiles?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
NEXT_ALLOWED_DEV_ORIGINS="192.168.1.100"
