DATABASE_URL="postgresql://sliding_tiles:sliding_tiles@localhost:5432/sliding_tiles?schema=public"
DOCKER_DATABASE_URL="postgresql://sliding_tiles:sliding_tiles@postgres:5432/sliding_tiles?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
WEB_PORT=3000
NEXT_ALLOWED_DEV_ORIGINS="192.168.1.100"
API_BASE_URL="http://localhost:4001/api"
DOCKER_API_BASE_URL="http://localhost:4001/api"
API_PORT=4001
API_CORS_ORIGINS="http://localhost:3000,http://192.168.1.100:3000"
WEB_BASE_URL="http://localhost:3000"
RUN_MIGRATIONS=true
